<% content_for :card_content do %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-floating mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      <%= f.label :email, class: "form-label" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-check form-switch">
      <%= f.check_box :ai_generated_content, class: "form-check-input", role: "switch", id: "aiGeneratedContentSwitch" %>
      <%= f.label :ai_generated_content, "Default setting for AI generated titles", class: "form-check-label", for: "aiGeneratedContentSwitch" %>
    </div>

    <hr>

    <div class="mb-3">
    <h5>Change your password</h3>
    <p>Your password must be at least <%= @minimum_password_length %> characters and should include a combination of numbers, uppercase and lowercase letters, and special characters (!@#$%^&*).</p>
    </div>

    <div class="form-floating mb-3">
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      <%= f.label :current_password, "Current Password", class: "form-label" %>
    </div>


    <div class="form-floating mb-3">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <%= f.label :password, "New password", class: "form-label " %>
    </div>

    <div class="form-floating mb-3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      <%= f.label :password_confirmation, "Re-type new password", class: "form-label" %>
    </div>

     <br />
     
    <div class="d-grid gap-2 mb-3">
      <%= f.submit "Update", :class => "btn btn-outline-primary" %>
    </div>
  <% end %>

  <hr>
  <div>
    <%= link_to registration_path(resource_name), data: {  "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: "text-danger text-decoration-none" do%>
      <i class="fa-solid fa-trash"></i> Delete account
    <% end %>
  </div>
<% end %>

<%= render "devise/shared/card_edit", title: "Edit #{resource_name.to_s.humanize}" %>
