<% content_for :card_content do %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-floating mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      <%= f.label :email, class: "form-label" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <hr>

    <div class="form-floating mb-3">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <%= f.label :password, "New Password (leave blank if you don't want to change it)", class: "form-label" %>
    </div>

    <div class="form-floating mb-3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      <%= f.label :password_confirmation, "New Password confirmation", class: "form-label" %>
    </div>

    <hr>

    <div class="form-floating mb-3">
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      <%= f.label :current_password, "Enter current Password to confirm your changes", class: "form-label" %>
    </div>

     <br />
     
    <div class="d-grid gap-2 mb-3">
      <%= f.submit "Update", :class => "btn btn-outline-primary" %>
    </div>
  <% end %>

  <hr>
  <div><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, :class => "btn btn-outline-danger"%></div>
<% end %>

<%= render "devise/shared/card_structure", title: "Edit #{resource_name.to_s.humanize}" %>
