<% content_for :card_content do %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-floating mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      <%= f.label :email, class: "form-label"%>
    </div>

    <hr>

    <div class="form-floating mb-3">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <%= f.label :password, "Password (#{@minimum_password_length} characters minimum)", class: "form-label" %>
    </div>
    <div class="form-floating mb-3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      <%= f.label :password_confirmation, class: "form-label" %>
    </div>
    
      <br />

    <div class="d-grid gap-2 mb-3">
      <%= f.submit "Sign up", :class => "btn btn-outline-primary" %>
    </div>
  <% end %>
<% end %>

<%= render "devise/shared/card_structure", title: "Sign up for an Account" %>
