<div class="p-0 m-3" style="width: 16rem;" id="<%= dom_id person %>">
  <%= link_to edit_person_path(person) do %>
    <div class="ratio ratio-1x1 d-flex align-items-center justify-content-center mb-3">
      <% if person.avatar.persisted? %>
        <%= cl_image_tag person.avatar.key, gravity:"auto", crop:"fill", class: "card-img-top img-fluid rounded-circle", style: "object-fit: cover;", alt:"Photo of #{person.firstlast_name}" %>
      <% else %>
        <div class="bg-dark-subtle rounded-circle"></div>
      <% end %>
    </div>
  <% end %>

  <div class="text-center">
    <div>
      <h4 class="text-wrap"><%= person.firstlast_name %> (<%= person.alternate_name %>)</h4>
    </div>
    <div>
      <p class="small"><%= person.date_of_birth.strftime("%B %-d, %Y") if person.date_of_birth.present? %></p>
    </div>
  </div>
</div>
