<%= form_with(model: person, multipart: true) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating mb-3">
    <%= form.text_field :first_name, class: "form-control", placeholder: "First Name" %>
    <%= form.label :first_name, class: "form-label"%>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :last_name, class: "form-control", placeholder: "Last Name"  %>
    <%= form.label :last_name, class: "form-label" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :alternate_name, class: "form-control", placeholder: "Alternate Name"  %>
    <%= form.label :alternate_name, class: "form-label" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.date_field :date_of_birth, class: "form-control" %>
    <%= form.label :date_of_birth, class: "form-label" %>
  </div>

  <div class="mb-3">
    <%= form.fields_for :media, form.object.media.build do |medium_fields| %>
      <%= medium_fields.file_field :url, { class: "form-control" } %>
    <% end %>
  </div>

  <div class="d-grid gap-2 mb-3">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
