<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-2 mb-3">
    <div class="col-md">
      <div class="form-floating">
        <%= form.text_field :first_name, class: "form-control", placeholder: "First Name" %>
        <%= form.label :first_name, class: "form-label"%>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <%= form.text_field :last_name, class: "form-control", placeholder: "Last Name"  %>
        <%= form.label :last_name, class: "form-label" %>
      </div>
    </div>
  </div>

  <div class="d-grid gap-2 mb-3">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
