<div class="col-md-12 d-flex align-items-center">
  <h1>Dashboard</h1>
    <div class="ms-auto">
    <!--not working yet-->
      <%= search_form_for @q, url: dashboard_path do |f| %>
        <%= f.text_field :description_cont, :placeholder => "Search" %>
        <%= f.submit :class => "btn btn-primary btn-block", hidden: true%>
      <% end %>
    </div>
   <!-- Button trigger modal -->
    <div class="ms-4">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPersonModal">
        Add a person
      </button>
    </div>
    <div class="ms-4">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMemoryModal">
        Add a memory
      </button>
    </div>
</div> 

<div class="table-responsive ">
  <table class="table align-middle table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col"><%= sort_link(@q, :date, "Date") %></th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">People</th>
        <th scope="col"><%= sort_link(@q, :address_location, "Location") %></th>
        <th scope="col">Show</th>
      </tr>
    </thead>
    <tbody>
      <% @memories.each do |memory| %>
        <tr>
          <td><%= memory.date.strftime("%m/%d/%y") %></td>
          <td><%= memory.title %></td>
          <td><%= memory.description.truncate(100, separator: /\s/) %></td>
          <td><% memory.people.each do |person| %>
            <%= link_to dashboard_path(person_id: person.id) do %>
              <span class="badge rounded-pill text-bg-secondary">
                <%= person.first_name %>
                <span class="d-none d-xxl-inline"> <%= person.last_name %></span>
                <span class="d-inline d-xxl-none"> <%= person.last_name[0] %></span>
              </span>
            <% end %>
          <% end %></td>
          <td><%= memory.address.location if memory.address %></td>
          <td class="text-center"><%= link_to memory do %>
            <i class="fa-solid fa-chevron-right"></i>
          <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="modal fade" id="addPersonModal" tabindex="-1" aria-labelledby="addPersonModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addPersonModalLabel">Add a person</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "people/form", person: @person %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addMemoryModal" tabindex="-1" aria-labelledby="addMemoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addMemoryModalLabel">Add a memory</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "memories/form", memory: @memory %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
