<% content_for :card_content do %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-floating mb-3">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
      <%= f.label :password, "New Password (#{@minimum_password_length} characters minimum)", class: "form-label" %>
    </div>

    <div class="form-floating mb-3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      <%= f.label :password_confirmation, "Confirm new password", class: "form-label" %>
    </div>

    <br />

    <div class="d-grid gap-2 mb-3">
      <%= f.submit "Change my password", class: "btn btn-outline-primary" %>
    </div>
  <% end %>
<% end %>

<%= render "devise/shared/card_edit", title: "Change your password" %>
