<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <% memory.images.each_with_index do |image, i| %>
      <button type="button" data-bs-target="#carouselExampleIndicators" class="<%= "active" if i==0 %>" aria-current="<%= "true" if i==0 %>" data-bs-slide-to="<%= i %>" aria-label="Slide <%= i+1 %>"></button>
    <% end %>
  </div>
  <div class="carousel-inner">
    <% memory.images.each_with_index do |image, i| %>
      <div class="carousel-item <%= "active" if i==0 %>" id="carousel-item-<%= i %>">
        <%= cl_image_tag(image.key, aspect_ratio: "4:3", gravity:"auto", crop:"fill", class: "img-fluid", alt: "photo \##{i+1} for memory of #{memory.title}") %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<script>
  $(document).ready(function() {
    // Get the height of the text element
    var textHeight = $('#text-element').height();

    // Calculate the aspect ratio based on the text height
    var aspectRatio = textHeight / $('#carouselExampleIndicators').width();

    // Iterate over each image in the carousel
    $('.carousel-item img').each(function() {
      // Update the aspect ratio of the image
      $(this).css('aspect-ratio', aspectRatio);
    });
  });
</script>
