<button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#add<%= model.capitalize %>Modal">
  Add a <%= model %>
</button>

<div class="modal fade" id="add<%= model.capitalize %>Modal" tabindex="-1" aria-labelledby="add<%= model.capitalize %>ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered <%= defined?(size) ? size : '' %>">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="add<%= model.capitalize %>ModalLabel">Add a <%= model %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render partial: "#{model.pluralize}/form", locals: {model.to_sym => instance_variable_get("@#{model}")}
        .merge(defined?(model2) ? {model2.to_sym => instance_variable_get("@#{model2}")} : {}) %>
      </div>
    </div>
  </div>
</div>
