<div class="col-md-12 d-flex align-items-center">
  <h1>Dashboard</h1>
    <div class="ms-auto">
      <%= search_form_for @q, url: dashboard_path do |f| %>
        <%= f.text_field :description_cont, :placeholder => "Search" %>
        <%= f.submit :class => "btn btn-primary btn-block", hidden: true%>
      <% end %>
    </div>
   <!-- Button trigger modal -->
    <div class="ms-4">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPersonModal">
        Add a person
      </button>
    </div>
    <div class="ms-4">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMemoryModal">
        Add a memory
      </button>
    </div>
</div> 

<div id='map' style='width: 900px; height: 600px;'></div>
<script>
mapboxgl.accessToken = '<%= ENV['MAPBOX_PUBLIC_TOKEN'] %>';
const map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mapbox/streets-v12', // style URL
    center: [-87.637505, 41.879138], // starting position [lng, lat]
    zoom: 9, // starting zoom
});

<% @memories.each do |memory| %>
  <% if memory.address.present? && memory.address.lat.present? && memory.address.lng.present? %>
    const marker<%= memory.id %> = new mapboxgl.Marker({})
      .setLngLat([<%= memory.address.lat %>, <%= memory.address.lng %>])
      .addTo(map);
  <% end %>
<% end %>
</script>

<%= render "memories/index_table", memories: @memories %>

<%= render partial: 'shared/modal_create', locals: { model: "person" } %>
<%= render partial: 'shared/modal_create', locals: { model: "memory", model2: "people", size: "modal-lg" } %>
