<% content_for :head do %>
  <%= stylesheet_link_tag 'slider' %>
<% end %>

<div class="col-12 d-flex flex-column flex-md-row justify-content-between align-items-center mb-3">
  <h1 class="flex-grow-1">Dashboard</h1>
  <div class="d-flex">
    <div>
      <%= render partial: 'shared/modal_create', locals: { model: "person" } %>
    </div>
    <div>
      <%= render partial: 'shared/modal_create', locals: { model: "memory", model2: "people", size: "modal-xl" } %>
    </div>
      </div>
</div> 

<div class="d-flex flex-column flex-md-row justify-content-center">
  <div class="col">
      <% min_range = date_to_days_since_epoch(@user_memories.by_date.last.date) %>
      <% max_range = date_to_days_since_epoch(@user_memories.by_date.first.date) %>
      <div id="mapbox_slider" class="min-vh-50" style='width: 100%; height: 95%; min-height: 300px;'></div>
      <input id="slider" type="range" min="<%= min_range %>" max="<%= max_range %>" step="1" value="<%= max_range %>" class="form-range">
      <output id="slider-output"> <%= days_since_epoch_to_date(max_range) %> </output>
  </div>
  <div class="col">
    <%= render "memories/card", memory: @memories.sample if @memories.present? %>
  </div>
</div>

<%= javascript_include_tag 'mapbox_slider' %>
