<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <% memory.media.each_with_index do |medium, i| %>
      <button type="button" data-bs-target="#carouselExampleIndicators" class="<%= "active" if i==0 %>" aria-current="<%= "true" if i==0 %>" data-bs-slide-to="<%= i %>" aria-label="Slide <%= i+1 %>"></button>
      <% if policy(medium).destroy? %>
        <%= link_to medium, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: "text-danger" do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="carousel-inner  h-100">
    <% memory.media.each_with_index do |medium, i| %>
      <div class="carousel-item <%= "active" if i==0 %>" >
        <img src="<%= medium.url %>" class="d-block img-fluid" alt="<%# medium.alt %>">
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
