<div class="card p-0 m-2" style="width: 16rem;" id="<%= dom_id memory %>">
  <div class="ratio ratio-1x1">
    <% if memory.media.present? %>
      <img src="<%= memory.media.first.url %>" class="card-img-top img-fluid" style="object-fit: cover;" alt="">
    <% else %>
      <div class="bg-light"></div>
    <% end %>
  </div>
  <div class="card-body">
    <h5 class="card-title text-center"><%= memory.title %></h5>
    <p class="card-text">
        <p class="card-text"><%= memory.description.truncate(100, separator: /\s/) %></p>

    </p>
  </div>
   <div class="card-footer d-flex align-items-center justify-content-between">
    <p class="card-text small text-start mb-0"><%= memory.address.input.truncate(15) if memory.address.present? %></p>
    <p class="card-text small text-end"><%= memory.date.strftime("%x") if memory.date.present? %></p>
  </div>
</div>
