<% if memory.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(memory.errors.count, "error") %> prohibited this memory from being saved:</h2>
    <ul>
      <% memory.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="d-flex flex-column flex-lg-row">
  <div class="col-12 col-lg-6 order-2 order-lg-1">
    <%= form_with(model: memory, multipart: true) do |form| %>

      <div class="row g-2">
        <div class="col">
          <div class="form-floating mb-3">
            <%= form.date_field :date, class: "form-control", value: memory.new_record? ? Date.today : memory.date %>
            <%= form.label :date, class: "form-label" %>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            <%= form.text_field :lng, class: "form-control-plaintext", placeholder: true, data: { lng: memory.lng }, readonly:true %>
            <%= form.label :lng, class: "form-label" %>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            <%= form.text_field :lat, class: "form-control-plaintext", placeholder: true, data: { lat: memory.lat }, readonly:true %>
            <%= form.label :lat, class: "form-label" %>
          </div>
        </div>
      </div>

      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating  mb-3">
            <%= form.text_field :location, class: "form-control", placeholder: true %>
            <%= form.label :location, class: "form-label" %>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            <%= form.text_field :place, class: "form-control", placeholder: true %>
            <%= form.label :place, class: "form-label" %>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            <%= form.text_field :country, class: "form-control", placeholder: true %>
            <%= form.label :country, class: "form-label" %>
          </div>
        </div>
      </div>

      <div class="row justify-content-between ">
        <div class="col-md-8">
          <div class="form-floating mb-3">
            <%= form.text_field :title, class: "form-control", placeholder: true %>
            <%= form.label :title, class: "form-label" %>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-between">
          <div class="form-check form-switch">
            <%= form.check_box :generate_title, class: "form-check-input", role: "switch", id: "aiGeneratedContentSwitch" %>
            <%= form.label :generate_title, "Generate title", class: "form-check-label", for: "aiGeneratedContentSwitch" %>
          </div>
        </div>
      </div>
      
      <div class="form-floating mb-3">
        <%= form.text_area :description, class: "form-control", style: "height: 10rem;",placeholder: true %>
        <%= form.label :description, class: "form-label" %>
      </div>

      <div class="mb-3">
        <% people.each do |person| %>
          <% people_memory = memory.people_memories.where({ person_id: person.id }).at(0) || memory.people_memories.build({ person_id: person.id }) %>
          <%= form.fields_for :people_memories, people_memory do |people_memory_fields| %>
            <%= people_memory_fields.hidden_field :person_id, { value: person.id } %>
            <%= people_memory_fields.check_box :_destroy, { class: "btn-check", checked: people_memory.persisted? }, "0", "1" %>
            <%= people_memory_fields.label :_destroy, person.firstlast_name, { class: "btn btn-outline-secondary sm", id: "btn-check-2-outlined", style: "--bs-btn-padding-y: .35em; --bs-btn-padding-x: .65em; --bs-btn-font-size: .75em; --bs-btn-font-weight: 700 ; border-radius: 1rem ; line-height: 1" } %>
          <% end %>
        <% end %>
      </div>

      <div class="mb-3">
        <%= form.file_field :images, multiple: true, class: "form-control" %>
      </div>

      <div class="d-grid gap-2 mb-3">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="col-12 col-lg-6 order-1 order-lg-2 min-vh-50 m-1">
    <div id='<%= map_search_id = "mapbox_form" %>' class="min-vh-50" style='width: 100%; height: 95%; min-height: 300px;'></div>
    <div id="<%= menu_search_id = "menu_form" %>" class="text-end">
      <input id="streets-v11" type="radio" name="rtoggle" value="streets" checked="checked">
      <label for="streets-v11">streets</label>
      <input id="satellite-streets-v11" type="radio" name="rtoggle" value="satellite">
      <label for="satellite-streets-v11">satellite streets</label>
    </div>
  </div>
</div>

<body 
  data-mapbox-token="<%= ENV['MAPBOX_PUBLIC_TOKEN'] %>" 
  data-map-search-id="<%= map_search_id %>"
  data-menu-search-id="<%= menu_search_id %>">

<%= javascript_include_tag 'mapbox' %>

<script>
  function initializeMapSearch(dataLabel, coordinates, dataMenu) {
    let map = initializeMap(getDataFromHtml(dataLabel), mapConfig(coordinates, 'streets-v11'));
    let geocoder = new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      mapboxgl: mapboxgl,
    });
    map.addControl(geocoder);
    window[dataLabel] = map;
    map.on('load', function () {
      addControls(map);
      addLayerSwitcher(map, dataMenu);
    });

    let marker = null;
    geocoder.on('result', function (e) {
      updateFormFields(e);
      marker = handleGeocoderResult(e, marker, map);
    });
    let coordinates_input = getCoordinatesFromInput();
    marker = createMarkerIfCoordinatesExist(coordinates_input, map);
  };

  <% memory_coordinates = @memory&.lng && @memory&.lat ? [@memory.lng, @memory.lat] : [2.350423, 48.85298] %>
  initializeMapSearch("map-search-id", <%= memory_coordinates %>, "menu-search-id");
  resizeMap("map-search-id");
</script>
