<% if memory.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

    <ul>
      <% memory.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!--updating form-->
<%= form_with(model: memory) do |form| %>
  <div class="mb-3">
    <%= form.label :date, class: "form-label" %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.fields_for :address do |address_fields| %>
      <%= address_fields.label :name, class: "form-label" %>
      <%= address_fields.text_field :name, class: "form-control" %>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control", placeholder: "Enter a title" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <% @people.each do |person| %>
      <%= form.fields_for :people_memories, @memory.people_memories.build(person_id: person.id) do |people_memory_fields| %>
          <%= people_memory_fields.check_box :person_id, { class: "btn-check", :checked => false }, person.id, nil %>
          <%= people_memory_fields.label :person_id, person.firstlast_name, { class: "btn btn-outline-secondary sm", id: "btn-check-2-outlined" } %>
      <% end %>
    <% end %>
  </div>

  <%= form.submit 'Create Memory', class: "btn btn-primary" %>
<% end %>
