<% if memory.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

    <ul>
      <% memory.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="d-flex flex-column flex-lg-row">
  <div class="col-12 col-lg-6 order-2 order-lg-1">
    <%= form_with(model: memory, multipart: true) do |form| %>
      <div class="row g-2">
        <div class="col">
          <div class="form-floating mb-3">
            <%= form.date_field :date, class: "form-control", value: memory.new_record? ? Date.today : memory.date %>
            <%= form.label :date, class: "form-label" %>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            <%= form.text_field :lng, class: "form-control-plaintext", placeholder: true, data: { lng: memory.lng }, readonly:true %>
            <%= form.label :lng, class: "form-label" %>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            <%= form.text_field :lat, class: "form-control-plaintext", placeholder: true, data: { lat: memory.lat }, readonly:true %>
            <%= form.label :lat, class: "form-label" %>
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating  mb-3">
            <%= form.text_field :location, class: "form-control", placeholder: true %>
            <%= form.label :location, class: "form-label" %>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            <%= form.text_field :place, class: "form-control", placeholder: true %>
            <%= form.label :place, class: "form-label" %>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            <%= form.text_field :country, class: "form-control", placeholder: true %>
            <%= form.label :country, class: "form-label" %>
          </div>
        </div>
      </div>

      <div class="form-floating mb-3">
        <%= form.text_field :title, class: "form-control", placeholder: true %>
        <%= form.label :title, class: "form-label" %>
      </div>

      <div class="form-floating mb-3">
        <%= form.text_area :description, class: "form-control", style: "height: 10rem;",placeholder: true %>
        <%= form.label :description, class: "form-label" %>
      </div>

      <div class="mb-3">
        <% people.each do |person| %>
          <% people_memory = memory.people_memories.where({ :person_id => person.id }).at(0) || memory.people_memories.build({ :person_id => person.id }) %>
          <%= form.fields_for :people_memories, people_memory do |people_memory_fields| %>
            <%= people_memory_fields.hidden_field :person_id, { :value => person.id } %>
            <%= people_memory_fields.check_box :_destroy, { :class => "btn-check", :checked => people_memory.persisted? }, "0", "1" %>
            <%= people_memory_fields.label :_destroy, person.firstlast_name, { :class => "btn btn-outline-secondary sm", :id => "btn-check-2-outlined", style: "--bs-btn-padding-y: .35em; --bs-btn-padding-x: .65em; --bs-btn-font-size: .75em; --bs-btn-font-weight: 700 ; border-radius: 1rem ; line-height: 1" } %>
          <% end %>
        <% end %>
      </div>

      <div class="mb-3">
        <%= form.fields_for :media, form.object.media.build do |medium_fields| %>
          <%= medium_fields.file_field :url, { class: "form-control" } %>
        <% end %>
      </div>

      <div class="d-grid gap-2 mb-3">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="col-12 col-lg-6 order-1 order-lg-2 min-vh-50 m-1">
    <div id='mapbox_form' class="min-vh-50" style='width: 100%; height: 95%; min-height: 300px;'></div>
    <div id="menu" class="text-end">
      <input id="streets-v12" type="radio" name="rtoggle" value="streets" checked="checked">
      <label for="streets-v12">streets</label>
      <input id="satellite-streets-v12" type="radio" name="rtoggle" value="satellite">
      <label for="satellite-streets-v12">satellite streets</label>
    </div>
  </div>
</div>

<body data-mapbox-token="<%= ENV['MAPBOX_PUBLIC_TOKEN'] %>" data-map-id="mapbox_form">
<%= javascript_include_tag 'mapbox_form' %>
<%= javascript_include_tag 'mapbox_resize' %>
