<%= form_with(model: memory) do |form| %>
  <% if memory.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

      <ul>
        <% memory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating">
    <%= form.date_field :date, class: "form-label" %>
    <%= form.label :date, style: "display: block"%>
  </div>

  <div class="form-floating">
    <%= form.text_field :location, class: "form-control"%>
    <%= form.label :location, style: "display: block", class: "form-label" %>
  </div>

  <div class="form-floating">
    <%= form.text_area :description, class: "form-control" %>
    <%= form.label :description, style: "display: block" %>
  </div>

  <div class="form-floating">
    <%= select_tag :people, options_from_collection_for_select(@people.order(:last_name, :first_name), :id, :firstlast_name), {multiple: true, size: 5, class: "form-control"} %>
    <%= form.label :people, style: "display: block", class: "form-label"  %>
  </div>

  <div>
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
