<div class="table-responsive">
  <table class="table align-middle table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col"><%= defined?(@q) ? sort_link(@q, :date, "Date") : "Date" %></th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">People</th>
        <th scope="col"><%= defined?(@q) ? sort_link(@q, :place, "Place") : "Place" %></th>
        <th scope="col">Show</th>
      </tr>
    </thead>
    <tbody>
      <% memories.each do |memory| %>
        <tr>
          <td><%= memory.date.strftime("%m/%d/%y") if !memory.date.blank? %></td>
          <td><%= memory.title.truncate(100, separator: /\s/) if !memory.title.blank? %></td>
          <td><%= memory.description.truncate(100, separator: /\s/) %></td>
          <td><% memory.people.each do |person| %>
              <%= link_to person, style: "text-decoration: none;" do %>
                <span class="badge rounded-pill text-bg-secondary">
                  <%= person.first_name %>
                  <span aria-label="<%= person.last_name %>">
                  <span aria-hidden="true">
                    <%= person.last_name[0] %><span class="d-none d-xxl-inline"><%= person.last_name[1..] %></span>
                  </span>
                  </span>
                </span>
              <% end %>
            <% end %></td>
          <td><%= memory.place.truncate(20, separator: /\s/) if memory.place %></td>
          <td class="text-center"><%= link_to memory do %>
              <i class="fa-solid fa-chevron-right"></i>
            <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
