<div id="<%= dom_id memory %>">
  <p>
    <strong>Date:</strong>
    <%= memory.date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= memory.location %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= memory.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= memory.longitude %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= memory.description %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= memory.author_id %>
  </p>

</div>
