<div id="<%= dom_id memory %>" class="card mb-3">
  <div class="card-header d-flex">
    <h5 class="card-text"><%= memory.title %></h5>
    <div class="ms-auto">
      <% if policy(memory).edit? %>
        <%= link_to edit_memory_path(memory), class: "me-3" do %><i class="fa-regular fa-pen-to-square"></i><% end %>
      <% end %>
      <% if policy(memory).destroy? %>
        <%= link_to memory, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: "text-danger" do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="row g-0">
    <div class="col-md-6 d-flex flex-column">
      <% if memory.media.present? %>
        <div class="d-flex flex-column h-100">
          <%= render "/media/carousel", memory: memory %>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <p class="card-text"><%= memory.date.strftime("%A, %B %-d, %Y") if !memory.date.blank? %></p>
        <p class="card-text"><%= memory.address.input %></p>
        <p class="card-text"><%= memory.description %></p>
        <p class="card-text">
          <% memory.people.each do |person| %>
            <p class="badge rounded-pill text-bg-secondary"><%= person.firstlast_name %></p>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="card-footer d-flex">
    <p class="card-text small">Created by <%= memory.author.email %> at <%= memory.created_at.strftime("%H:%M · %x") %></p>
    <div class="ms-auto">
      <p class="card-text small">Last updated at <%= memory.updated_at.strftime("%H:%M · %x") %></p>
    </div>
  </div>
</div>
