<div class="col-md-12 d-flex align-items-center">
  <h1>Memories</h1>
    <div class="ms-auto">
      <%= search_form_for @q do |f| %>
        <%= f.text_field :description_cont, :placeholder => "Search" %>
        <%= f.submit :class => "btn btn-primary btn-block", hidden: true%>
      <% end %>
    </div>
    <div class="ms-4">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMemoryModal">
        Add a memory
      </button>
    </div>
</div> 

<%= render 'memories/index_table', memories: @memories %>

<%= render partial: 'shared/modal_create', locals: { model: "memory", model2: "people", size: "modal-lg" } %>
