<div class="col-md-12 d-flex align-items-center">
  <h1>Dashboard</h1>

  <turbo-frame id="new_memory">
  <%= link_to 'Add a memory', new_memory_path, data: { turbo_action: 'replace', turbo_frame: 'new_memory' } %>
  </turbo-frame>

  <div class="ms-auto">
    <button type="button" class="btn btn-primary">Add a memory</button>
  </div>
</div> 

<!--<div class="row row-cols-1 row-cols-md-2 g-4">-->
  <%# current_user.memories.by_date.each do |memory| %>
    <%#= render "memories/memory", memory: memory %>
  <%# end %>
<!--</div>-->

<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">See</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.memories.by_date.each do |memory| %>
      <tr>
        <td><%= memory.date %></td>
        <td><%= memory.description %></td>
        <td><%= link_to "See", memory %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="add-memory" tabindex="-1" aria-labelledby="add-memory-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="add-memory-label">Add a memory</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "memories/form", memory: @memory %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
